<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <center>
                    <img src="\logo-mercado-liebre.svg" width="500px" height="500px" alt="">
        </center>

        <h3>Lugar para poner barra de búsqueda</h3>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        
        <ul>
            <a href=""><li><strong>Ofertas</strong></li></a>
            <a href=""><li><strong>Tiendas Oficiales</strong></li></a>
            <a href=""><li><strong>Vender</strong></li></a>
            <a href=""><li><strong>Ayuda</strong></li></a>          
        </ul>


        <ul>
            <a href=""><li><strong>Creá tu cuenta</strong></li></a>
            <a href=""><li><strong>Ingresá</strong></li></a>
            <a href=""><li><strong>Mis compras</strong></li></a>
        </ul>
    </header>

    <main>
        <section>
            <header>
                <h2>Basado en tu última visita</h2>

                <article>
                    <img src="\img-cafetera-moulinex.jpg" width="500px" height="500px" alt="">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong></p> 
                </article>
    
                <article>
                    <img src="\img-macbook-pro-2019.jpg" width="500px" height="500px" alt="">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                </article>
               
                <article>
                    <img src="\img-samsung-galaxy-s10.jpg" width="500px" height="500px" alt="">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><strong>Samsung Galaxy S10</strong></p>
                </article>
                
                <article>
                    <img src="\img-tv-samsung-smart.jpg" width="500px" height="500px" alt="">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p><strong>SmartTv Samsung 43"</strong></p>
                </article>
        </section>

        <section>
            <header>
                <h2>Sección de Ofertas</h2>
            </header>

            <article>
            <img src="\img-cafetera-moulinex.jpg" width="500px" height="500px" alt="">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p> 
            </article>

            <article>
            <img src="\img-macbook-pro-2019.jpg" width="500px" height="500px" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>
            </article>
           
            <article>
                <img src="\img-samsung-galaxy-s10.jpg" width="500px" height="500px" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            
            <article>
                <img src="\img-tv-samsung-smart.jpg" width="500px" height="500px" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
    </main>

    <footer>
        <br>
        <br>
        <section>
            <header><strong>Pagá con tarjeta o en efectivo</strong></header>
            <p>Con Mercado Liebre Cash, tenés cuotas sin</p>
            <p>interés con tarjeta o efectivo en puntos</p>
            <p>de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <header><strong>Envío gratis desde $ 2.500</strong></header>
            <p>Solo por estar registrad@ en Mercado Liebre</p>
            <p>tenés envíos gratis en miles de productos.</p>
            <p>Es un beneficio de Mercado Puntos.</p>
        </section>
        
        <section>
            <header><strong>Seguridad, de principio a fin</strong></header>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
            <p>no hay nada que no puedas hacer, porque</p>
            <p>estás siempre protegid@.</p>
        </section>
        
        <section>
            <br><header>Copyright © 1999-2020 MercadoLiebre S.R.L.</header>
        </section>

    </footer>

</body>
</html>